.ActionTab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
  height: 3rem;
  background-color: $color-white;

  color: $color-grey-dark-2;
  text-transform: uppercase;

  // border-bottom: 1px solid $color-grey-light-2;

  &__text {
    width: 20%;
    padding: 0 0.5rem;
  }

  &__clear {
    width: 20%;
    padding: 0 0.5rem;
    font-size: 0.8rem;
    user-select: none; //makes checkmark unselectable
    cursor: pointer;
  }

  &__view-group {
    width: 60%;
  }

  &__view {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0 0.3rem;
    border: 1px solid transparent;
    border-radius: $border-radius-md;
    font-size: 1rem;
    color: $color-grey-dark-2;
    cursor: pointer;

    transition: all 0.1s;

    &:focus {
      border: 1px solid $color-grey-light-3;
      background-color: $color-grey-light-1;
    }

    &_selected {
      border: 1px solid $color-grey-light-3;
      background-color: $color-grey-light-1;
    }
  }
}
